In [8]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv('/kaggle/input/world-university-rankings/cwurData.csv')

In [24]:
data

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,54,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,54,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,54,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,57,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,54,4,2,29,7,37,22,22,NaN,18,85.21,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,University of the Algarve,37,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,Alexandria University,14,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,Federal University of Ceará,4,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,University of A Coruña,48,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,China Pharmaceutical University,8,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [33]:
data.drop('institution', axis=1)

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,54,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,54,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,54,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,57,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,54,4,2,29,7,37,22,22,NaN,18,85.21,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,37,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,14,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,4,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,48,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,8,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [18]:
np.sum(data.isnull())

world_rank                0
institution               0
country                   0
national_rank             0
quality_of_education      0
alumni_employment         0
quality_of_faculty        0
publications              0
influence                 0
citations                 0
broad_impact            200
patents                   0
score                     0
year                      0
dtype: int64

In [20]:
encoder= LabelEncoder()

In [23]:
data['country']= encoder.fit_transform(data['country'])
country_mapping = {index: label for index, label in enumerate (encoder.classes_)}
country_mapping

{0: 0,
 1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 10,
 11: 11,
 12: 12,
 13: 13,
 14: 14,
 15: 15,
 16: 16,
 17: 17,
 18: 18,
 19: 19,
 20: 20,
 21: 21,
 22: 22,
 23: 23,
 24: 24,
 25: 25,
 26: 26,
 27: 27,
 28: 28,
 29: 29,
 30: 30,
 31: 31,
 32: 32,
 33: 33,
 34: 34,
 35: 35,
 36: 36,
 37: 37,
 38: 38,
 39: 39,
 40: 40,
 41: 41,
 42: 42,
 43: 43,
 44: 44,
 45: 45,
 46: 46,
 47: 47,
 48: 48,
 49: 49,
 50: 50,
 51: 51,
 52: 52,
 53: 53,
 54: 54,
 55: 55,
 56: 56,
 57: 57,
 58: 58}

In [57]:
y= data['world_rank']

In [60]:
X= data.drop('world_rank',axis=1)

,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,Harvard University,54,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,Massachusetts Institute of Technology,54,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,Stanford University,54,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,University of Cambridge,57,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,California Institute of Technology,54,4,2,29,7,37,22,22,NaN,18,85.21,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,University of the Algarve,37,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,Alexandria University,14,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,Federal University of Ceará,4,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,University of A Coruña,48,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,China Pharmaceutical University,8,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [42]:
scaler= StandardScaler()
X= pd.DataFrame(scaler.fit_transform(X), columns = X.columns)

In [74]:
X= data.drop('institution', axis=1)

In [76]:
X=X.drop('broad_impact', axis=1)

In [77]:
X=X.drop('year',axis=1)

In [80]:
np.sum(X.isnull())

/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

world_rank              0
country                 0
national_rank           0
quality_of_education    0
alumni_employment       0
quality_of_faculty      0
publications            0
influence               0
citations               0
patents                 0
score                   0
dtype: int64

In [78]:
X

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,patents,score
0,1,54,1,7,9,1,1,1,1,5,100.00
1,2,54,2,9,17,3,12,4,4,1,91.67
2,3,54,3,17,11,5,4,2,2,15,89.50
3,4,57,1,10,24,4,16,16,11,50,86.17
4,5,54,4,2,29,7,37,22,22,18,85.21
...,...,...,...,...,...,...,...,...,...,...,...
2195,996,37,7,367,567,218,926,845,812,816,44.03
2196,997,14,4,236,566,218,997,908,645,871,44.03
2197,998,4,18,367,549,218,830,823,812,824,44.03
2198,999,48,40,367,567,218,886,974,812,651,44.02
2199,1000,8,83,367,567,218,861,991,812,547,44.02

In [81]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7)

In [82]:
log_model= LinearRegression()
log_model.fit(X_train,y_train)

LinearRegression()

In [86]:
print(f"LinearRegression:{log_model.score(X_test,y_test)}")

LinearRegression:1.0